.registration-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.registration-form {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 3px;
}

.register-button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

    .register-button:hover {
        background-color: #2980b9;
    }